* {
  padding: 0px;
  margin: 0px;
}

.all-elements {
  display: flex;
  flex-direction: column;
  background-image: url(/images/back-ground/back-ground.png);
  background-size: cover;
}
.all-elements .logo {
  width: 66px;
  height: 55px;
  border-radius: 10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transition: 0.7s;
}
.all-elements .logo:hover {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
.all-elements .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 5px;
  padding-right: 20px;
}
.all-elements .header .button {
  font-family: "Anta", sans-serif;
  text-decoration: none;
  color: white;
  padding: 3px;
  transition: 0.4s;
  border-radius: 10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
.all-elements .header .button:hover {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
.all-elements .title {
  font-size: 120px;
  display: flex;
  justify-content: center;
  font-family: "Anta", sans-serif;
}
.all-elements .main-title {
  padding-top: 40px;
  padding-bottom: 20px;
}
.all-elements .projects {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.all-elements .projects .project {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 532px;
  align-items: center;
  padding: 10px;
  gap: 15px;
  font-family: "Anta", sans-serif;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  transition: 0.5s;
  border: 5px solid transparent;
}
.all-elements .projects .project:hover {
  color: rgb(230, 221, 221);
  background-color: rgb(22, 20, 20);
  border-color: rgb(173, 86, 86);
}
.all-elements .projects .project .project-img {
  width: 320px;
  height: 304px;
  border-radius: 10px;
}
.all-elements .projects .project .project-title {
  font-size: 24px;
}
.all-elements .projects .project .project-text {
  width: 320px;
  font-size: 17px;
  text-align: justify;
}
.all-elements .footer {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  padding: 5px;
}
.all-elements .footer .contacts {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
}
.all-elements .footer .contacts .contact {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Anta", sans-serif;
  border-radius: 10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transition: 0.4s;
  color: white;
}
.all-elements .footer .contacts .contact:hover {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
.all-elements .footer .contacts .contact .contact-link {
  text-decoration: none;
  color: white;
}
.all-elements .footer .contacts .logo-contact {
  width: 30px;
  height: 30px;
  color: white;
}
.all-elements .footer .contacts .logo-linkedin {
  width: 30px;
  height: 20px;
}
.all-elements .footer .contacts .logo-github {
  width: 25px;
  height: 25px;
}

.all-elements-sobre {
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-image: url(/images/back-ground/back-ground.png);
  background-size: cover;
}
.all-elements-sobre .logo {
  width: 66px;
  height: 55px;
  border-radius: 10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transition: 0.7s;
}
.all-elements-sobre .logo:hover {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
.all-elements-sobre .header-sobre {
  display: flex;
  align-items: start;
  justify-content: start;
  background-color: black;
  padding: 5px;
  padding-right: 20px;
}
.all-elements-sobre .header-sobre .logo {
  width: 66px;
  height: 55px;
}
.all-elements-sobre .personal-img-div {
  display: flex;
  justify-content: center;
}
.all-elements-sobre .personal-img-div .personal-img {
  width: 400px;
  height: 320px;
  border-radius: 1000px;
  display: flex;
  border: 10px solid rgb(46, 46, 46);
  transition: 0.5s;
}
.all-elements-sobre .personal-img-div .personal-img:hover {
  border-color: rgb(173, 86, 86);
}
.all-elements-sobre .title-sobre {
  display: flex;
  justify-content: center;
  font-family: "Anta", sans-serif;
  font-size: 100px;
  transition: 0.5s;
}
.all-elements-sobre .title-sobre:hover {
  color: rgb(173, 86, 86);
}
.all-elements-sobre .text-sobre {
  display: flex;
  font-family: "Anta", sans-serif;
  text-align: justify;
  font-size: 25px;
  max-width: 1000px;
  align-self: center;
  justify-content: center;
  border: 10px solid rgb(46, 46, 46);
  border-radius: 1000px;
  padding: 40px;
  transition: 0.5s;
}
.all-elements-sobre .text-sobre:hover {
  color: rgb(230, 221, 221);
  background-color: rgb(22, 20, 20);
  border-color: rgb(173, 86, 86);
}
.all-elements-sobre .footer {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  padding-right: 20px;
  padding: 5px;
}
.all-elements-sobre .footer .contacts {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
}
.all-elements-sobre .footer .contacts .contact {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Anta", sans-serif;
  border-radius: 10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transition: 0.4s;
}
.all-elements-sobre .footer .contacts .contact:hover {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
.all-elements-sobre .footer .contacts .contact .contact-text {
  text-decoration: none;
  color: white;
}
.all-elements-sobre .footer .contacts .logo-contact {
  width: 30px;
  height: 30px;
}
.all-elements-sobre .footer .contacts .logo-linkedin {
  width: 30px;
  height: 20px;
}
.all-elements-sobre .footer .contacts .logo-github {
  width: 25px;
  height: 25px;
}
.all-elements-sobre .footer .button {
  font-family: "Anta", sans-serif;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transition: 0.7s;
  padding: 3px;
}
.all-elements-sobre .footer .button:hover {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

/*# sourceMappingURL=style.css.map */
