*{
    padding: 0px;
    margin: 0px;
}

.all-elements{
    display: flex;
    flex-direction: column;
    background-image: url(/images/back-ground/back-ground.png);
    background-size: cover;

    .logo{
        width: 66px;
        height: 55px;
        border-radius: 10px;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
        transition: 0.7s;
        &:hover{
            border-bottom: 2px solid  white;
            border-right: 2px solid white;
        }
        
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        color: white;
        padding: 5px;
        padding-right: 20px;

        .button{
            font-family: "Anta", sans-serif;
            text-decoration: none;
            color: white;
            padding: 3px;
            transition: 0.4s;
            border-radius: 10px;
            border-bottom: 2px solid black;
            border-right: 2px solid black;
            &:hover{
                border-bottom: 2px solid white;
                border-right: 2px solid white
            }
        }

    }

    .title{
        font-size: 120px;
        display: flex;
        justify-content: center;
        font-family: "Anta", sans-serif;
    }

    .main-title{
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .projects{
        display: flex;
        gap: 80px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .project{
            display: flex;
            flex-direction: column;
            width: 320px;
            height: 532px;
            align-items: center;
            padding: 10px;
            gap: 15px;
            font-family: "Anta", sans-serif;
            text-decoration: none;
            color: black;
            border-radius: 10px;
            transition: 0.5s;
            border: 5px solid transparent;
            &:hover{
                color: rgb(230, 221, 221);
                background-color: rgb(22, 20, 20);
                border-color: rgb(173, 86, 86);
    
            }
            
            .project-img{
                width: 320px;
                height: 304px;
                border-radius: 10px;
            }

            .project-title{
                font-size: 24px;
            }

            .project-text{
                width: 320px;
                font-size: 17px;
                text-align: justify;
            }
        }
    }

    .footer{
        display: flex;
        background-color: black;
        color: white;
        align-items: center;
        padding: 5px;

        .contacts{
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            padding-left: 200px;
            padding-right: 200px;

            .contact{
                display: flex;
                align-items: center;
                gap: 5px;
                font-family: "Anta", sans-serif;
                border-radius: 10px;
                border-bottom: 2px solid black;
                border-right: 2px solid black;
                transition: 0.4s;

                &:hover{
                    border-bottom: 2px solid white;
                    border-right: 2px solid white;
                }

                .contact-text{
                    text-decoration: none;
                    color: white;
                }
            }

            .logo-contact{
                width: 30px;
                height: 30px;
            }
            .logo-linkedin{
                width: 30px;
                height: 20px;
            }
            .logo-github{
                width: 25px;
                height: 25px;
            }
        }
    }
}

.all-elements-sobre{
    display: flex;
    flex-direction: column;
    gap: 35px;
    background-image: url(/images/back-ground/back-ground.png);
    background-size: cover;

    .logo{
        width: 66px;
        height: 55px;
        border-radius: 10px;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
        transition: 0.7s;
        &:hover{
            border-bottom: 2px solid  white;
            border-right: 2px solid white;
        }
        
    }

    .header-sobre{
        .logo{
            width: 66px;
            height: 55px;
        }
        display: flex;
        align-items: start;
        justify-content: start;
        background-color: black;
        padding: 5px;
        padding-right: 20px;
    }
    .personal-img-div{
        display: flex;
        justify-content: center;
        .personal-img{
            width: 400px;
            height: 320px;
            border-radius: 1000px;
            display: flex;
            border: 10px solid rgb(46, 46, 46);
            transition: 0.5s;
            &:hover{
                border-color: rgb(173, 86, 86);
            }
        }
    }
    .title-sobre{
        display: flex;
        justify-content: center;
        font-family: "Anta", sans-serif;
        font-size: 100px;
        transition: 0.5s;
        &:hover{
            color: rgb(173, 86, 86);;
        }
    }
    .text-sobre{
        display: flex;
        font-family: "Anta", sans-serif;
        text-align: justify;
        font-size: 25px;
        max-width: 1000px;
        align-self: center;
        justify-content: center;
        border: 10px solid rgb(46, 46, 46);
        border-radius: 1000px;
        padding: 40px;
        transition: 0.5s;
        &:hover{
            color: rgb(230, 221, 221);
            background-color: rgb(22, 20, 20);
            border-color: rgb(173, 86, 86);

        }
    }
    .footer{
        display: flex;
        background-color: black;
        color: white;
        align-items: center;
        padding-right: 20px;
        padding: 5px;

        .contacts{
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            padding-left: 200px;
            padding-right: 200px;

            .contact{
                display: flex;
                align-items: center;
                gap: 5px;
                font-family: "Anta", sans-serif;
                border-radius: 10px;
                border-bottom: 2px solid black;
                border-right: 2px solid black;
                transition: 0.4s;

                &:hover{
                    border-bottom: 2px solid white;
                    border-right: 2px solid white;
                }

                .contact-text{
                    text-decoration: none;
                    color: white;
                }
            }

            .logo-contact{
                width: 30px;
                height: 30px;
            }

            .logo-linkedin{
                width: 30px;
                height: 20px;
            }

            .logo-github{
                width: 25px;
                height: 25px;
            }
        }
            .button{
            font-family: "Anta", sans-serif;
            text-decoration: none;
            color: white;
            border-radius: 10px;
            border-bottom: 2px solid black;
            border-right: 2px solid black;
            transition: 0.7s;
            padding: 3px;
            &:hover{
                border-bottom: 2px solid  white;
                border-right: 2px solid white;
            }

        }
    }
}
